#01. Importing Libraries

In [1]:
#Import Libraries
import pandas as pd
import numpy as np
import os

#02. Importing orders_products_combined

In [3]:
#Importing orders_products_combined Data

path = r'C:\Users\slave\OneDrive\Documents\Instacart Basket Analysis'

In [15]:
df_orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [17]:
#Checking Shape

df_orders_products_combined.shape

(32640698, 12)

Same number of rows as when exported as pickle prior to this Task

#03. Combining orders_products_combined with Product Data

In [19]:
#Importing products_checked Data

df_products_checked = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [20]:
#Checking Shape

df_products_checked.shape

(49672, 6)

**Data sets have unequal number of rows so cannot use concatening or appending data

In [21]:
#Checking Columns

df_products_checked.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [22]:
df_orders_products_combined.head()

,Unnamed: 0,Unnamed: 0.1,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,Flag,product_id,add_to_cart_order,reordered
0,1.0,1.0,2398795,1.0,2.0,3.0,7.0,15.0,NaN,196.0,1.0,1.0
1,1.0,1.0,2398795,1.0,2.0,3.0,7.0,15.0,NaN,10258.0,2.0,0.0
2,1.0,1.0,2398795,1.0,2.0,3.0,7.0,15.0,NaN,12427.0,3.0,1.0
3,1.0,1.0,2398795,1.0,2.0,3.0,7.0,15.0,NaN,13176.0,4.0,0.0
4,1.0,1.0,2398795,1.0,2.0,3.0,7.0,15.0,NaN,26088.0,5.0,1.0

**Must merge on shared product_id column